<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi sapiente error mollitia. Minima, beatae. Ad odio ullam sunt! Natus, reiciendis. Hic enim esse labore a ipsam veniam repellat, dignissimos nesciunt!</p>
  </div>
</div>
