<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and MongoDb</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quas ut ad, temporibus sequi reprehenderit cumque qui. Voluptas sed rem, illum corrupti ab libero nam inventore repellat laudantium quas deserunt.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit magni possimus illo doloribus. Nobis modi accusamus aliquam consequatur molestiae sapiente reprehenderit quae ut, officia, nemo, in tempore commodi itaque optio.</p>
  <a href="#" class="btn btn-primary">Personal Web portfolio</a>
</div>
